body {
            text-align: center;
        }

        #enterDetails {
            float: left;
            width: 45%;
            background-color: #a176e9;
            color: black;
            border-radius: 10px;
        }

        #findDetails {
            float: right;
            width: 45%;
            height: 445px;
            background-color: #a176e9;
            color: black;
            border-radius: 10px;
            
        }

        input {
            width: 120px;
        }
         input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
